@font-face {
	font-family: 'National Park';
	src: url('../src/theme/fonts/National_Park/static/NationalPark-Regular.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'National Park';
	src: url('../src/theme/fonts/National_Park/static/NationalPark-Regular.ttf');
	font-style: italic, oblique;
}

@font-face {
	font-family: 'Fira Code';
	src: url('../src/theme/fonts/National_Park/static/FiraCode-Regular.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('../src/theme/fonts/National_Park/static/FiraCode-Regular.ttf');
	font-style: italic, oblique;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../src/theme/fonts/AtkinsonHyperlegibleNext/AtkinsonHyperlegibleNext-Regular.otf');
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../src/theme/fonts/AtkinsonHyperlegibleNext/AtkinsonHyperlegibleNext-RegularItalic.otf');
	font-style: italic, oblique;
}

@import 'tailwindcss/preflight';
@tailwind utilities;
@plugin 'flowbite/plugin';
@plugin 'daisyui' {
	themes: light --default, dark --prefersdark, dracula;
}

:root {
	--massillonOrange: #ge6a00;
	--dracRed: #ff5555;
	--dracPink: #ff79c6;
	--dracOrange: #ffb86c;
	--dracYellow: #f1fa8c;
	--dracGold: #d7af00;
	--dracYellowgreen: #cafc03;
	--dracGreen: #50fa7b;
	--dracBlue: #527cfa;
	--dracCyan: #8be9fd;
	--dracPurple: #bd93f9;
	--dracTan: #b7a48a;
	--dracWhite: #f8f8f2;
	--dracBlack: #1a1a21;
	--dracGray: #44475a;
	--dracBg: #282a36;
	--dracBackground: #282a36;
	--dracCurrentLine: #44475a;
	--dracCl: #44475a;
	--dracFg: #f8f8f2;
	--dracForeground: #f8f8f2;
	--dracComment: #6272a4;
	--dracBg2: #0c0020;
	--dracBackground2: #0c0020;
	--dracCl2: #392b55;
	--dracCurrentLine2: #392b55;
}

body {
	background: radial-gradient(
		circle at 50% 100%,
		/* Position gradient center at bottom (100%) and center (50%) */
			rgba(12, 0, 32, 1) 45%,
		#282a36 90%,

		#f8f8f2 100% /* End color: #0c0020 */
	);
	background-attachment: fixed; /* Optional: Fix gradient relative to viewport */
	background-repeat: no-repeat; /* Prevent repeating */
	min-height: 100vh; /* Ensure gradient covers full viewport height */
}

div {
	font-family: 'National Park';
}

math {
	font-size: 5vmin;
	display: block;
	user-select: none;
}

mo {
	font-family: 'Atkinson Hyperlegible Next';
}

mi {
	font-family: 'Atkinson Hyperlegible Next';
}

ms {
	font-family: 'National Park';
}

mn {
	font-family: 'Atkinson Hyperlegible Next';
}

.text-font {
	font-family: 'National Park';
	font-style: normal;
	font-weight: normal;
}

.definition-font {
	font-family: 'National Park';
	font-style: normal;
	font-weight: bold;
}

.math-font {
	font-family: 'Atkinson Hyperlegible Next';
	font-style: normal;
	font-weight: normal;
}

.unit-font {
	font-family: 'Atkinson Hyperlegible Next';
	font-style: italic;
	font-weight: normal;
}
