@font-face {
	font-family: 'Computer Modern';
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
	font-family: 'Computer Modern';
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
	font-weight: bold;
}

@font-face {
	font-family: 'Computer Modern';
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
	font-style: italic, oblique;
}

@font-face {
	font-family: 'Computer Modern';
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
	font-weight: bold;
	font-style: italic, oblique;
}

@import 'tailwindcss/preflight';
@tailwind utilities;
@plugin 'flowbite/plugin';
@plugin 'daisyui' {
	themes: light --default, dark --prefersdark, dracula;
}

:root {
	--massillonOrange: #ge6a00;
	--dracRed: #ff5555;
	--dracPink: #ff79c6;
	--dracOrange: #ffb86c;
	--dracYellow: #f1fa8c;
	--dracGold: #d7af00;
	--dracYellowgreen: #cafc03;
	--dracGreen: #50fa7b;
	--dracBlue: #527cfa;
	--dracCyan: #8be9fd;
	--dracPurple: #bd93f9;
	--dracTan: #b7a48a;
	--dracWhite: #f8f8f2;
	--dracBlack: #1a1a21;
	--dracGray: #44475a;
	--dracBg: #282a36;
	--dracBackground: #282a36;
	--dracCurrentLine: #44475a;
	--dracCl: #44475a;
	--dracFg: #f8f8f2;
	--dracForeground: #f8f8f2;
	--dracComment: #6272a4;
	--dracBg2: #0c0020;
	--dracBackground2: #0c0020;
	--dracCl2: #392b55;
	--dracCurrentLine2: #392b55;
}

* {
	font-family: 'National Park';
}

math {
	font-size: 3em;
	display: block;
	user-select: none;
}

mo {
	font-family: 'Computer Modern';
}

mi {
	font-family: 'National Park';
}

ms {
	font-family: 'National Park';
}

ms {
	font-family: 'National Park';
}

mn {
	font-family: 'Computer Modern';
}

/* @layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
} */
