* {
	font-family: 'Fira Sans', sans-serif;
	color: #f8f8f2;
	scrollbar-width: thin;
	scrollbar-color: transparent var(--primary);
	user-select: none;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 0;
	border: none;
}

.sansserif {
	font-family: 'Fira Sans', sans-serif;
}

.serif {
	font-family: 'Source Serif', serif;
}

.monospace {
	font-family: 'Fira Code', monospace;
}
